<div class="email">
  <h3 style="text-align:center;color: #B00100">Bütün suallar üçün emailə yazın</h3>

  <%= mail_to 'mrdeadshoot@gmail.com' do %>
    <p style="text-decoration: none">mrdeadshoot@gmail.com</p>
  <% end %>
</div>